body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
h1 {
  color:red; text-align: center;
}
div {
  width: 25%; margin: auto;  background-color: red; float: left;
}
a#Yo {
  padding: 10px; background-color: silver;
}
p{
  width: 800px; text-align: center;
}